* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

/* Layout Styles */
body{
    background: rgb(71, 189, 185);
    color: white;
    overflow: hidden;
    overflow-y: scroll;

}